@charset 'utf-8';
@import url('common.css');


.way_to_come{
	width:100%; height:90%;
	margin:210px auto;
	position: relative;
}



.way_to_come figure{
	display:flex;
	justify-content: space-between;
	align-items: center;
	width:80%; margin: 0 auto;
}
.way_to_come h2{
	text-align: center;
	padding:10% 0; 
	color:#63b3e8;
	font-size: 3.125em;
	font-family: 'Noto Serif KR', serif;
	line-height: 0.8;
}
.way_to_come figure figcaption{
	padding:0 5%;}

.way_to_come figure figcaption p{
	width:100%;
	text-align: left; margin-top:10px;
}
.way_to_come figure figcaption p:nth-of-type(1):before{
	content:'';
	background:url('../imgs/map_black.png') no-repeat;
	width:26px; height:44px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
	animation: ani_way_to_come .5s infinite alternate;
}


.top_btn li{
	display:inline-block;
	text-align:center;
	width:20px;
	height:20px;
	vertical-align:middle;
	padding:30px;
	position: absolute;
	left:50%; bottom: -35%;
	animation: ani_top .5s infinite alternate;
  }
@keyframes ani_top{
	100%{bottom:-36%;}
}

.top_btn li i{
  display: block;
}
.chevron-top-icon{
	display:inline-block;
	width:35px;
	height:35px;
	border-top:5px solid #5e5e5e;
	border-right:5px solid #5e5e5e;
	transform: rotate(-45deg);
  }


@keyframes ani_way_to_come{
	100%{background-position-y: 4px;}
}




.way_to_come figure figcaption p:nth-of-type(2):before{
	content:'';
	background: url('../imgs/tel_black.png') no-repeat;
	width:27px; height:44px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
	animation: ani_way_to_come .5s .2s infinite alternate;
}

@media (max-width:1920px){
	.way_to_come{margin:9% 0;}
	.way_to_come h2{padding:5%;}

}

@media (max-width:1024px){
	.way_to_come{margin:10% 0;}
	.way_to_come h2{padding:10%;}

}

@media (max-width:800px){
	.way_to_come{margin:10% 0;}
	.way_to_come figure{
		flex-direction: column;
	}
	.way_to_come iframe{width: 90%;}
	.way_to_come h2{padding:10%;}

}
	
@media (max-width:480px){
	.way_to_come{margin:25% 0;}
	.way_to_come iframe{ width:100%; height:300px;}
	.way_to_come figure figcaption p{margin-top:20px;}
	.way_to_come figure figcaption p:nth-of-type(1):before{
		background-size: 50%;
		margin-right:2px;
		width:20px; height:25px;
	}
	.way_to_come figure figcaption p:nth-of-type(2):before{
		background-size: 50%;
		margin-right:2px;
		width:20px; height:25px;
	}
}

