@charset 'utf-8';
@import url('common.css');


.facilities{width:100%; margin: 0 auto;
	overflow: hidden;
}

.fac_daon{
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}

.fac_daon .explan02{
	width:60%;
	margin-left:10%;
	transform:translateY(20px);
	opacity: 0;
	transition: 1s;

}
.fac_daon:hover .explan02{
	transform:translateY(0);
	opacity: 1;
}



.explan02 h2{
	font-family: 'Noto Serif KR', serif;
	color:#63b3e8;
	line-height: 1;
	font-size: 3.125em;
	padding-left: 30px;
	position: relative;
}

.explan02 h2:before{
	content: '';
	width:2px; height:90px;
	background:#63b3e8;
	display: inline-block;
	position: absolute;
	left:0; bottom:0;
}
.explan02 p:nth-of-type(1){
	color:#8dd3ea;
	font-size: 1.250em;
	line-height: 0.83;
	margin: 50px 0;
}
.explan02 p:nth-of-type(2){
	color:black;
	white-space: pre-line;
	line-height: 1.6;
	font-size: 1em;
}






.fac_daon .explan02 p:nth-of-type(2){line-height: 1.6;}
.fac_daon img{
	width:40%;
	transform:translateX(20%);
	transition: 1s;
}
.fac_daon:hover img{
	transform:translateX(0);
}



.fac_daon:nth-of-type(even) img{
	order: 1;
	transform:translateX(-20%);
	transition: 1s .2s;
}
.fac_daon:nth-of-type(even):hover img{
	transform:translateX(0);
}



.fac_daon:nth-of-type(even) .explan02{order: 2;}
.fac_daon:nth-of-type(even) {background-color: #63b3e8;}
.fac_daon:nth-of-type(even) h2{color:#dafafc;}
.fac_daon:nth-of-type(even) p:nth-of-type(1){color:#d8ecf0;}
.fac_daon:nth-of-type(even) p:nth-of-type(2){color:#f0eee4;}
.fac_daon:nth-of-type(even) h2:before{background:#dafafc;}


@media (max-width:1024px){
	.fac_daon img{
		width:40%;
		transform:translateX(0%);
	}
	.fac_daon:nth-of-type(even) img{
		transform:translateX(0%);
	}
	.fac_daon .explan02{
		width:60%;
		margin-left:5%;
		transform:translateY(0px);
		opacity: 1;
		padding-right: 10px;
	}
	.explan02 p:nth-of-type(2){margin-left:20px;}
	.explan02 h2:before{
		height:90px;
	}
}

@media (max-width:800px){
	.fac_daon{
		display:flex;
		width:100%;
		flex-wrap: wrap;
		justify-content:center;
		padding:10% 0;
	}
	.fac_daon .explan02{
		width: 90%; margin:0 auto;
		padding:0 5%;
	}

	.fac_daon:nth-of-type(1n) img{order:1;}
	.fac_daon:nth-of-type(1n) .explan02{order: 2;}
	.explan02 p:nth-of-type(1){display: none;}
	.explan02 h2{margin:30px 0;}
	.explan02 p:nth-of-type(2){
		margin:0 auto;
		white-space: normal;
	}
}
@media (max-width:480px){
	.facilities{margin-top: 50px;}
	.fac_daon{padding:50px 0;}
	.fac_daon .explan02 h2{
		font-size: 4em;
	}
	.explan02 h2:before{
		height:40px;}
	.explan02 p:nth-of-type(2){
		font-size: 2em;
	}
	
	footer{border-top: 1px solid white;}
}
