@charset 'utf-8';
@import url('common.css');


.rooms{
	width: 100%; margin:0 auto;
	margin-top:15%;
}
.rooms_cont{margin-bottom: 5%;}
.rooms h2{
	text-align: center;
	color:#63b3e8;
	font-size: 3.125em;
	font-family: 'Noto Serif KR', serif;
	line-height: 0.8;
}
.rooms_cont p{text-align: center;}
.rooms_info{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%; 
	margin:0 auto;
}

.rooms_info figure{
	margin:0 10px;
	position: relative;
	opacity: 0;
	transition: .6s;
	transform:translateY(40px);
	animation: ani_room 3s forwards;
}
@keyframes ani_room{
	0%{opacity: 0; transform: translateY(40px);}
	100%{opacity: 1; transform:translateY(0);}
}



.rooms_info strong{
	font-size: 1.25em;
	line-height: 1;
	font-weight: bold;
	display:inline-block;
	margin-bottom:15px;
}
.rooms_info figcaption{
	margin-left: 20px;
	font-size: 1em;
	line-height: 1.39;
	white-space: pre-line;
}
.rooms_info figure a{
	position: relative;
	width: 100%; height:100%;
	display: inline-block;
}
.rooms_info button{
	width:40px; height:40px;
	border-radius: 100%;
	border:none;
	margin:0 5px;
	transform-origin: 50% 50%;
	transform: translateY(-50%);
}
.rooms_info_btnL{
	position: absolute;
	left:0; top:50%;
	background:50% 50% url('../imgs/rooms_info_btnL.png') no-repeat white;
}
.rooms_info_btnR{
	position:absolute;
	right:0; top:50%;
	background:50% 50% url('../imgs/rooms_info_btnR.png') no-repeat white;
}

@media (min-width:1025px){
	.rooms{height:100vh;}

}
@media (max-width:1024px){
	.rooms_info figure{
		opacity: 1;
		transform:translateY(0px);
		margin:0 5px;
	}
	.rooms_info figcaption{
		margin-left: 5px;
	}
	.rooms_info button{
		width:40px; height:40px;
		margin:0 3px;
	}
	.rooms_info{
		margin:100px auto 200px auto;
	}
	.rooms_cont p{font-size: 1.3em;}

	.rooms_info{
		display: flex;
		flex-wrap: wrap;
		margin:50px auto 120px auto;
		}
	.rooms_info figure{
		width: 48%;;
}

@media (max-width:800px){
	.rooms_info figure{
		margin:15px 0;
	}
	.rooms h2{margin-top:120px;}
	.rooms_info figure figcaption{font-size: 1.6em;}
	.rooms_info button{display: none;}
	.rooms_cont h2{font-size: 4em;}
	.rooms_cont p{font-size: 2em; width: 80%; margin: 0 auto;}


}
	
@media (max-width:480px){
	.rooms{padding-top:10%;}
	.rooms_info{
		display: flex;
		flex-wrap: wrap;
		margin:50px auto 100px auto;
		}
	.rooms_info figure{
		width: 100%;
		margin:15px 0;
	}
	.rooms h2{
		margin-top:100px;
		font-size: 4em;
	}
	.rooms_info figure button{display: none;}
	.rooms_info figure figcaption{
		font-size: 2em;
		margin-left: 6%;
	}


}
}
